<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>St. Claire Cycles | <%= locals.page.charAt(0).toUpperCase() + locals.page.substr(1).toLowerCase() %></title>
    <meta name="description" content="Live Preview Of Oswan eCommerce HTML5 Template" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../images/mainlogosquare.png" />

    <!-- all css here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easyzoom@2.5.2/css/easyzoom.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" />

    <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css" />

    <link rel="stylesheet" href="../../ecommerce/css/themify-icons.css" />
    <link rel="stylesheet" href="../../ecommerce/css/meanmenu.min.css" />
    <link rel="stylesheet" href="../../ecommerce/css/bundle.css" />
    <link rel="stylesheet" href="../../ecommerce/css/style.css" />
    <link rel="stylesheet" href="../../ecommerce/css/responsive.css" />
    <script src="../../ecommerce/js/vendor/modernizr-2.8.3.min.js"></script>
    <style>
        .width-100 {
            width: 100% !important;
        }

        .dt-center {
            text-align: center;
        }

        .btn-sm {
            line-height: 0;
        }
    </style>
</head>
