<!DOCTYPE html>
<html class="no-js" lang="zxx">
    <% include ./partials/head.ejs %>
    <style>
        .jconfirm.jconfirm-modern .jconfirm-box .jconfirm-buttons button {
            padding: 6px 12px 6px 12px;
        }
    </style>
    <body>
        <div class="wrapper">
            <input type="hidden" id="userId" value="<%= locals.userId %>" />
        </div>

        <% include ./partials/script.ejs %>
        <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
        <!-- <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
        <script src="../../ecommerce/js/address.js"></script> -->

        <script>
            $(document).ready(function() {
                if (!$('#userId').val()) {
                    errorDialog('Not valid URL.');
                    return;
                }

                $.confirm({
                    title: 'Change Password',
                    content: `<input type="password" id="newpassword" class="form-control" placeholder="New password" /> <br>
                            <input type="password" id="password2" class="form-control" placeholder="Re-Type password" /> <br>`,
                    theme: 'modern',
                    type: 'blue',

                    animationSpeed: 200,
                    columnClass: 'small',
                    icon: 'fa fa-lock',

                    buttons: {
                        proceed: () => {
                            const password = $('#newpassword').val();
                            const password2 = $('#password2').val();

                            if (!password || !password2) {
                                warningDialog('All fields are required.');
                                return false;
                            }

                            if (password != password2) {
                                errorDialog('Password did not match.');
                                return false;
                            }

                            changePass(password);
                        }
                    }
                });

                async function changePass(password) {
                    try {
                        const id = $('#userId').val();
                        let result = await $.ajax({ method: 'PUT', url: `/api/customer/${id}`, data: JSON.stringify({ password }), contentType: 'application/json' });

                        successDialog('Password successfully changed.');

                        setTimeout(() => {
                            window.location.href = 'login';
                        }, 1000);
                    } catch (error) {
                        console.log(error.responseText);
                        if (error.responseText) return errorDialog(error.responseText);
                        else return errorDialog('Something went wrong.');
                    }
                }
            });
        </script>
    </body>
</html>
