<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1>Index</h1>
        <!-- <a href="https://pharmakeia.herokuapp.com/ami/login"><h1>Click here to go to Pharmakeia Admin Panel </h1></a> -->
    </body>
</html>
