<head>
    <base href="./" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template" />
    <meta name="author" content="Åukasz Holeczek" />
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard" />
    <link rel="shortcut icon" type="image/x-icon" href="../../images/mainlogosquare.png" />
    <title>St. Claire Cycles Admin Panel |</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:400,300" rel="stylesheet" type="text/css" />
    <!-- Icons-->
    <link href="https://cdn.jsdelivr.net/npm/@coreui/icons@0.3.0/css/coreui-icons.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet" />
    <!-- Main styles for this application-->
    <link href="../../admin/css/coureui-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" />

    <style>
        body {
            font-family: 'Muli', 'Helvetica', Arial, sans-serif;
        }

        .sidebar {
            background: #fff;
        }

        .sidebar .nav-link {
            color: #66615b;
        }

        /* .sidebar .nav-link:hover,
        .sidebar .nav-link:hover .nav-icon {
            color: #39b2d5;
            background: #fff;
            font-weight: bold;
        } */

        .sidebar .nav-link.active,
        .sidebar .nav-link.active .nav-icon {
            color: #39b2d5;
            background: #fff;
            font-weight: bold;
        }

        .dt-center {
            text-align: center;
        }

        .dt-nowrap {
            white-space: nowrap;
            vertical-align: middle;
        }

        th {
            /* white-space: nowrap; */
            vertical-align: middle !important;
        }
    </style>
</head>
