<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#" style="width: 200px;">
        <img class="navbar-brand-full" src="../../ecommerce/img/logo/logo.png" width="150" alt="Pharmakeia" />
    </a>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link session-name"></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <!-- <div class="dropdown-header text-center">
                    <strong class="session-userNo">Account</strong>
                </div> -->
                <a class="dropdown-item" href="/admin/account"><i class="fa fa-user" aria-hidden="true"></i> Account</a>
                <a class="dropdown-item" href="#" id="logout-btn"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
            </div>
        </li>
    </ul>
</header>
