<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item hide-staff">
                <a class="nav-link" href="/admin/dashboard"> <i class="nav-icon fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
            </li>
            <li class="nav-item hide-staff">
                <a class="nav-link" href="/admin/users"> <i class="nav-icon fa fa-user" aria-hidden="true"></i> Staffs</a>
            </li>
            <li class="nav-item hide-admin">
                <a class="nav-link" href="/admin/tax"> <i class="nav-icon fa fa-user" aria-hidden="true"></i> Tax</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/customers"> <i class="nav-icon fa fa-users" aria-hidden="true"></i> Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/stocks"> <i class="nav-icon fa fa-cubes" aria-hidden="true"></i> Stocks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/products"> <i class="nav-icon fa fa-bicycle" aria-hidden="true"></i> Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/shopsupplies"> <i class="nav-icon fa fa-cube" aria-hidden="true"></i> Shop supplies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/orders"> <i class="nav-icon fa fa-shopping-cart" aria-hidden="true"></i> Orders</a>
            </li>
            <li class="nav-item hide-admin">
                <a class="nav-link" href="/admin/feedbacks"> <i class="nav-icon fa fa-comments" aria-hidden="true"></i> Feedbacks</a>
            </li>
            <li class="nav-item hide-staff">
                <a class="nav-link" href="/admin/logs"> <i class="nav-icon fa fa-file-text-o" aria-hidden="true"></i> Logs</a>
            </li>

            <li class="nav-title mt-5 hide-staff" style="color: #66615b; font-weight: bolder;">Reports</li>

            <li class="nav-item hide-staff">
                <a class="nav-link" href="/admin/reportshopsupplies"><i class="nav-icon fa fa-files-o" aria-hidden="true"></i> Supplies Report</a>
            </li>
            <li class="nav-item hide-staff">
                <a class="nav-link" href="/admin/reportstock"><i class="nav-icon fa fa-files-o" aria-hidden="true"></i> Stock Report</a>
            </li>
            <li class="nav-item hide-staff">
                <a class="nav-link" href="/admin/reportsales"><i class="nav-icon fa fa-files-o" aria-hidden="true"></i> Sales Report</a>
            </li>
            <li class="nav-item hide-staff">
                <a class="nav-link" href="/admin/reportincome"><i class="nav-icon fa fa-files-o" aria-hidden="true"></i> Income Report</a>
            </li>
        </ul>
    </nav>
</div>
